@model PatientFormModel

@{ ViewData["Title"] = "Become patient"; }


<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 ">
            <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}