@model IEnumerable<MedicalCenterServiceModel>

@{ 
    ViewData["Title"] = "My Medical Center";
    ViewBag.AllowEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You don't own a Medical Center</h2>
}

<div class="row justify-content-center">
    <partial name="_MedicalCentersPartial" model="@Model" />
</div>
